<!--<script type="text/javascript" src="http://secure-dev.sgo.co.id/public/signature/js"></script>-->


<script type="text/javascript" src="https://secure.sgo.co.id/public/signature/js"></script>

<h2><?php echo $text_instruction; ?></h2>
<div class="content" id="sgopayment">
	<span class="o-payment">
 	<input type="radio" class="o-payment-radio" name="product" id="product" value="008:MANDIRIIB"/>  <img class="o-payment-image" src="<?php echo $dir_image ?>mandiri.png"/>
	</span>
	<span class="o-payment">
	<input type="radio" class="o-payment-radio" name="product" id="product" value="013:PERMATAATM"/> <img class="o-payment-image" src="<?php echo $dir_image ?>bcaklikpay.png"/>
	</span>
	<!--<span class="o-payment">
	<input type="radio" class="o-payment-radio" name="product" id="product" value="013:PERMATANETPAY"/> <img class="o-payment-image" src="<?php echo $dir_image ?>permatanet.png"/>
	</span>-->
	<span class="o-payment">
	<input type="radio" class="o-payment-radio" name="product" id="product" value="014:BCAKLIKPAY"/> <img class="o-payment-image" src="<?php echo $dir_image ?>bcaklikpay.png"/>
	</span>
	
	<input type="hidden" value="<?php echo $sgopaymentid ?>" name="sgopaymentid" id="sgopaymentid">
	<input type="hidden" value="<?php echo $order_id ?>" name="cartid" id="cartid">
	<input type="hidden" value="<?php echo $total ?>" name="paymentamount" id="paymentamount">
	<input type="hidden" value="<?php echo $back_url ?>" name="back_url" id="back_url">
</div>
<iframe id="sgoplus-iframe" style="display:none" src="" scrolling="no" frameborder="0"></iframe>
<script type="text/javascript" src="<?php echo $dir_js; ?>sgopayment.js"></script>
<div class="buttons">
  <div class="right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm"  name="button-confirm" onclick="submitdata()" class="button" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=payment/sgopayment/complete',
		type: 'post',
		data: $('#sgopayment :input[type="radio"][name="product"]:checked'),
		dataType: 'json',
		cache: false,		
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},				
		success: function(json) {
		}
	});
});
$('.o-payment').on('click', function() {
	$('.o-payment').removeClass("o-payment-checked");
	$(this).addClass("o-payment-checked");
	$('.o-payment-radio').removeAttr("checked");
	$(this).find('.o-payment-radio').attr("checked","checked");
	
});
//--></script>

