#tab-comments .content span.comment {
    display: block;
    font-weight: bold;
}

#tab-comments .content .comment-name {
    font-weight: bold;
}

#tab-comments .content .comment-date {
    float: right;
}

#tab-comments .content .comment-content {
    margin: 10px;
}	

#tab-comments .warning {
	background-image: none;
	padding: 0;
}

#tab-comments .warning ul {
	list-style-type: none;
	padding-left: 5px;
}

#tab-comments .warning ul li {
	margin: 2px 0;
}

#tab-comments .attention,
#tab-comments .success {
	background-image: none;
	padding: 5px 0;
	text-align: center;
	font-size: 11px;
}

#pcCommentlist #pagination {
    margin: 20px auto;
    float: left;
    left: 50%;
    position: relative;
    
}

#pcCommentlist #pagination ul {
    float: left;
    position: relative;
    right: 50%;
}

.comment-header{
	padding-top:10px;
}

.comment-form{
	/*background:rgb(230, 230, 230);*/
}