.ms-sellerprofile .seller-data div.info-box {
  margin: 0 0 0 0px ;
  line-height: 2.0em;
  padding-top:10px;
}

.tab-content {
    line-height: 1.5em;
}

.product-grid .price {
    float: left !important;
    text-align: left !important;
    width: 49%;
    font-size: 16px;
}

/*HEADER MENU*/

.cari{
  display:none; 
}

#search1{
  display:none; 
  padding:20px 0px;
}

.header_main #search{
	float: left;
    margin: 16px 25px 16px 25px;
}

.header_top_line .currency_current, .header_top_line .language_current.hand{
	margin: 0px;
}

.header_top_line.container>.promo_message {
    margin: 0;
    padding: 0;
  } 
  .header_top_line.container>.promo_message>.mnr_a.active, .header_top_line.container>.promo_message>.mnr_a:hover {
    background: #9a0034;
    color: #fff;
  }
  .header_top_line.container>.promo_message>.mnr_a {
    float: left;
    width: 100px;
    height: 36px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
  }

  .header_main, .header_main>.header_right {
    // min-height: 70px;
    line-height: 70px;
    width: 100%;
    padding: 0 55px;
  }

  .header_main {
      /*margin-left: 70px;*/
      margin-right: 100px;
  }
  .header{ /*nannag */
    border-top: 1px solid #9a0034;
    background: url('../image/custom/pap.jpg');

 background-size: 100% 100%;  }

  #menu {
    height: 50px;
    line-height: 40px;
}
  .menu_wrapper, .menu_wrapper>.menu_holder, #menu {
    background: #fff;
}

i.fa.fa-search.button-search:hover,
i.fa.fa-search.button-search:focus{
   color:#fff;
}


.promo_message a {
    color: #000!important;
    font-weight:900;
}

.promo_message a:hover,
.promo_message a:focus{
    color: #fff!important;
    font-weight:900;
}

.promo_message a.active {
    color: #fff !important;
    font-weight:900;
}
/*nanang*/
  .header-sticky.stickyku {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
        -ms-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
         -o-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
            box-shadow: 0 3px 5px rgba(0,0,0,0.3);
/*
    -webkit-transition : all 3s ease-in;
        -moz-transition: all 3s ease-in;
          -ms-transition:all 3s ease-in;
           -o-transition:all 3s ease-in;
              transition:all 3s ease-in;*/
  }

  .btn-header {
    border:1px solid #e5e5e5;
  }

  .btn-header:hover {
     border:1px solid #222222;
  }

  #hide-top-menu {
    display: none;
    border: transparent;
    font-size: 20px;
    z-index: 400;
  }

  #hide-top-menu:hover{
    background: #8c0303;
  }
  #hide-top-menu:focus,
  #hide-top-menu:active {
    background: transparent;
  }

  /*HEADER LANGUAGE*/
  .links.contrast_font.language {
    padding-top: 0;
  }
  .language .language_current.contrast_font:hover {
    /*margin-bottom: 0 !important;*/
    background: #2b2b2b;
  }

  .language .top_header_drop_down {
    cursor: pointer;
    background: #FFF;
    color: #333;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.6);
    box-shadow: 2px 2px 2px rgba(10,10,10,.6);
  }

  .language .top_header_drop_down a.current {
    cursor: pointer;
    color: #000;
  }

  .language .top_header_drop_down a.current:hover {
    cursor: pointer;
    color: #9a0034;
  }

  .language .currency_current:hover .top_header_drop_down, 
  .language .language_current:hover .top_header_drop_down, 
  .language .login_drop_heading:hover .top_header_drop_down, 
  .language .login_drop_heading.active .top_header_drop_down {
    margin-top: -3px;
  }


/*SEARCH*/
select.search_input {
  padding: 10px 40px 10px 10px;
  height: 38px; 
  color: #333; 
  border: 0;
  border-left: 1px solid #efefef;
  margin-right: 50px;
  font-size: 13px;
  line-height: normal;
   appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}
.header_main #search input {
  width: 350px;
  position: relative;
}

select.search_input {
  min-width:200px;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}



/*FOOTER*/
 .ofisindi_footer {
    background: url('../image/custom/loh.png');
    background-size: 100% 100%;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    /*background:#Fff;*/
    /*background: #9a0034 !important;*/
    color: black;
    margin-top: 10px;
  }
  
  .ofisindi_footer .column a {
    font-weight: bold;
    color: black;
  }

  .ofisindi_footer a:hover,
  .ofisindi_footer a:focus,
  .ofisindi_footer a:active {
    color: #ABABAB;
  }

  #footer>.column .of-box-heading.heading {
    color: black;
    margin-bottom: 25px;
        padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #dddddd;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;

  }

  #footer>.column .custom_block p {
    color: black;
  }

  .ofisindi_footer .of-box-heading:after {
    width: 70px;
    height: 2px;
    content: " ";
    // background: #FFF;
    left: 0;
    vertical-align: middle;
    bottom: -1px;
    position: absolute
  }

  .ofisindi_footer .bottom_line {
    padding: 13px 0 20px;
    border-top: 2px solid white;
  }

  ul.footer_list>li>a {
    font-weight: 100 !important;
    color: white;
  }

  ul.footer_list>li>a:hover,
  ul.footer_list>li>a:focus,
  ul.footer_list>li>a:active {
    color: #ababab;
  }

  .ofisindi_footer img.available-app {
    max-height: 60px;
    margin-bottom: 15px;
  } 


  .ofisindi_footer img.available-app:hover {
     -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
     -ms-filter: brightness(50%);
     -o-filter: brightness(50%);
     filter: brightness(50%);
  }
  .ofisindi_footer #powewhite {
    font-weight: bold;
  }

  .ofisindi_footer #powewhite a {
    font-weight: 100;
    color: white;
  }

  .ofisindi_footer #powewhite a:hover,
  .ofisindi_footer #powewhite a:focus,
  .ofisindi_footer #powewhite a:active {
    color: #ABABAB;
  }

  .ofisindi_footer #footer_payment_icon {
    float: left;
    margin: 0 10px;
    display: inline-block;
  }

  img.img-footer{
    display: inline-block;
    height: 30px !important;
    margin: 3px 1.5px;
  }

/*NEWSLETTER*/
.ofisindi_footer .box.newsletter {
  background: ;
  color: #333;
  padding: 10px;
  border-radius: 10px;
}

.ofisindi_footer .box-content p.intro {
  color: #333 !important;
}

.button.btn-white {
  background: #F20026;
  color: white;
  border-color: #F20026;
}


/*line title admin */

#column-left + #content h1, .welcome{

    padding: 10px 10px 10px 0px ;
    border-bottom: 1px solid #dddddd;
    position: relative;
    text-transform: uppercase;
    color: #CA0C4C;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 20px;

}


#column-left + #content h1:after, .welcome{

    width: 100px;
    height: 1px;
    content: " ";
    background: #77062C;
    left: 0;
    bottom: -1px;
    position: absolute;

}


/* login */

.login_drop_heading {
	float: right;
   background:white !important;
   margin: 16px 8px 16px 0px
   
}

.reg a.button.register{
	border:1px solid #fff !important;
	margin: 16px 2px 16px 2px;
   	float: right;
    text-transform: capitalize !important; 
}

.reg a.button:hover.register{
	border:1px solid #222222 !important;
	margin: 16px 2px 16px 2px;
   	float: right;
    text-transform: capitalize !important; 
}

.collapse .register{
	margin-top: 16px;
	margin-left: 10px;
	float: left;
}

.currency_current:hover, .language_current:hover, .login_drop_heading:hover, .login_drop_heading.active{
   background-color: #222222 !important; 
}

.currency_current:hover .head, .language_current:hover .head, .login_drop_heading:hover .log_link, .login_drop_heading.active .log_link:hover {
    color: #fff !important;
}


/*  title account  */

#column-left .box-heading, #column-right .box-heading, #footer .box-heading, .footer_modules .box-heading {
    color: b !important;
    padding-left: 10px;
    font-weight:900;
    background: #CA0C4C;
    border-bottom: 5px solid #AD194B;
}


.box-heading:after, .box-heading .nav li.active:after {

    background: none !important;
  
}

.box-content > ul > li a:before{

   content: "\f105"; 
   font-family: FontAwesome;
   padding-right: 0.5em;
}


/* title content */

h2.welcome-dashboard{

  font-size: 30px; 
  font-family: 'Roboto Slab', sans-serif;
  font-weight:100;
  text-transform:uppercase; 

}

ul.list-unstyled.margin-b li {
    line-height: 35px !important;
}


/*mercant*/


#column-left .box-heading, #column-right .box-heading, #footer .box-heading, .footer_modules .box-heading{
  color: #fff !important;
    padding-left: 10px;
    font-weight: 700;
    background: #CA0C4C;
    border-bottom: 5px solid #AD194B;
}
.box-heading::after, .box-heading .nav li.active::after {
    background: none !important;
}
.box-category > ul > li > a {
  display: block;
    line-height: 28px;
    font-size: 14px;
    padding: 0px 0px 0px 10px;
}
.box-category ul li a:hover {
    background: #f7f7f7;
    -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
}
.box-category > ul > li a:before {
    content: "\f105";
    font-family: FontAwesome;
    padding-right: 0.5em;
}

#content  h1.heading-title{
  padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #dddddd;
    position: relative;
    text-transform: uppercase;
    color: #CA0C4C;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 20px;
}
#content h1.heading-title:after{
  width: 100px;
    height: 1px;
    content: " ";
    background: #77062C;
    left: 0;
    bottom: -1px;
    position: absolute;
}
.overview ul.description li{
  line-height: 25px;
}
.title-chart{
  font-size: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.logo1 img{
    display: none;
  }

a.btn1 {
    cursor: pointer;
    padding: 9px 0px;
    border: 0px;
    z-index: 1100px;
    font-size: 17px;
}

.hide-top-menu {
  display: none;
}

.header_main .logo img.img_logo{
    margin-top: 15px;
    float: left;
}


/*RESPONSIVE*/



@media only screen and (min-width: 1030px) {
  #collapseTopMenu {
    display: none;
  }
}

@media only screen and (max-width: 1029px) {

  
  /* .header_main .logo {
      float: left !important;
      width: 100%;
      margin: 0 auto !important;
      text-align: center;
   }*/

  /*mobile*/
  .menu_wrapper, .menu_wrapper > .menu_holder, #menu{
    background: url('../image/custom/pap.jpg');
 background-size: 100% 100%;
  }

  .cari{
    display:block; 
  }

  #search1{
    display:none;
    padding:20px 0px;
  }

  .mobile_menu_trigger.up_to_tablet {
      font-size: 20px;
  }

  .hide-top-menu {
    display: inline-block;
    background: transparent;
    color: #fff;
  }

  .hide-top-menu:hover {
    background: transparent;
  }

  #hide-top-menu {
    color: #fff;
    display: inline-block;
    background: transparent;
  }
  #hide-top-menu:hover{
    background: transparent;
  }


  #cart.shortcut .shortcut_heading {
    background: transparent;
    color: #ffffff;
  }

  #cart.shortcut:hover .shortcut_heading {
    background: transparent;
    color: #ffffff;
  }

  .logo1{
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
  }
  .logo1 img{
    width: 95px; 
    padding: 0px 13px 9px 0;
    display: inline-block;
  }

  .top_header_drop_down#login, #cart .content {
    // display:none !important
  }
  #cart .content{
    right: -45px !important;
  }

  /*============*/
  #fullhead {
    display: none;
  }

  .header_top_line.container>.promo_message>.mnr_a {
    float: left;
    width: 70px;
    height: 36px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
    margin-bottom:-25px;
    margin-top:0px;
  }


  
  /*.header_main #search {
    display: block;
  }
  .header_main .logo {
    float: none;
    width: 100%;
    margin: 0 auto !important;
    text-align: center;
  }*/
  select.search_input, .header_main #search input {
    width: 100%;
  }
  .header_main .button-search {
    width: 100%;
    position: relative;
    right: 0;
  }
}


@media (min-width: 320px)  and (max-width: 480px) {
  .header_main, .header_main > .header_right {
    padding: 0 5px;
    height: 20px;
  }
  
  .currency_current, .language_current {
    background-color: #fff !important;
  }

 .header_main .logo {
    float: none !important;
    width: 100%;
    margin: 0 auto !important;
    text-align: center;
  }

  .header_main .logo img{
  	margin-top: -15px;
  	// margin-left: -145px;
  }

  .login_drop_heading{
  	margin-left: 25px;
  }
}

// @media (min-width: 768px)  and (max-width: 1024px) {
// 	.header_main .logo img{
// 		margin-top: 0;
// 		margin-left: 300px;
//   	}
//   	.login_drop_heading{
//   		margin-left: 25px;
//   	}
// }

@media (min-width: 1124px)  and (max-width: 1256px) {
	.header_main .logo {
    	margin-left: 20px;
	}
	select.search_input {
    	width: 200px;
	}
	.reg a.button.register{
		margin: 16px 2px 16px 0px;
    	float: left;
	}
	.header_main #search input {
	    width: 276px;
	    position: relative;
	}
}

@media (min-width: 1077px)  and (max-width: 1123px) {
	.header_main #search input {
	    width: 247px;
	    position: relative;
	}
	select.search_input {
    	width: 200px;
	}

	.header_main .logo {
	    margin-left: 0px;
	}
}

@media (min-width: 1030px)  and (max-width: 1076px) {
	.header_main #search input {
	    width: 260px;
	    position: relative;
	}
	select.search_input {
    	width: 200px;
	}

	.header_main .logo {
	    margin-left: -60px;
	}
}

@media (min-width: 949px)  and (max-width: 1029px) {
	.collapse  #search{
		margin-left: 203px;
		margin-top: -55px;
	}
	.header_main .logo img {
	    margin-left: 40px;
	}
	.collapse .login_drop_heading{
		margin-left: 203px;
	}
	.collapse .currency_current, .language_current  {
		margin-top: 90px;
		display: none;
	}
	.collapse .button-search{
		text-align: center;
	}
}

@media (min-width: 900px)  and (max-width: 948px) {
	.collapse  #search{
		margin-left: 97px;
    	margin-top: 0px;
	}

	.header_main .logo img {
	    margin-left: 306px;
	}

	.collapse  .button-search{
		text-align: center;
	}

	.collapse .login_drop_heading{
		margin-left: 100px;
	}
}

@media (min-width: 800px)  and (max-width: 899px) {
	.collapse  #search{
		margin-left: 70px;
    	margin-top: 0px;
	}
	.collapse  .button-search{
		text-align: center;
	}

	.collapse .login_drop_heading{
		    margin-left: 70px;
	}

	.header_main .logo img {
	    margin-left: 271px;
	}
}

@media (min-width: 640px)  and (max-width: 799px) {
	.header_main .logo img {
	    margin-left: 18px;
	    width: 100%;
	}
	.collapse .login_drop_heading{
		    margin-left: 28px;
	}
	.collapse .login_drop_heading{
		    margin-left: 25px;
	}
	.currency_current, .language_current.hand{
		    margin-top: 16px;
		    float: left;
		    background: #fff;
		    margin-left: 20px;
	}
	.collapse  .button-search{
		text-align: center;
	}
}

@media (min-width: 481px)  and (max-width: 639px) {
	.header_main .logo img {
	    margin-left: 151px;
	}
	.collapse .login_drop_heading{
		    margin-left: 28px;
	}
	.collapse .login_drop_heading{
		    margin-left: 25px;
	}
	.currency_current, .language_current.hand{
	        margin-top: 16px;
		    float: right;
		    background: #fff;
		    margin-right: 26px;
	}
}


// @media only screen and (min-width: 768px) and (max-width: 1025px) {
//   .header_main, .header_main>.header_right {
//     line-height: 70px;
//     width: 100%;
//     padding: 0 55px;
//   }
// }

                        		