/* layout */
.outer_container.boxed {
	width:1220px;
}
body {
	min-width:1200px; /* if responsive layout is disabled */
}
.container, .breadcrumb, #menu, .header_right {
	max-width:1140px;
}
#home-top-left .wrapper, #home-top-right .wrapper {
	width:360px;
}
.header_main #search input {
	width: 700px;
}
.header_main .logo {
	/*line-height:105px;*/
}
/* Product carousels */
.box-product.carousel > div {
	padding:5px 10px 0px 10px;
	width: 196px; /* 6 columns as default */
}
.grid-3 .box-product.carousel > div {width:393px;}
#column-left + .grid-3 .box-product.carousel > div, #column-right + .grid-3 .box-product.carousel > div {width:303px;}
.grid-4 .box-product.carousel > div {width:295px;}
#column-left + .grid-4 .box-product.carousel > div, #column-right + .grid-4 .box-product.carousel > div {width:227px;}
.grid-5 .box-product.carousel > div {width:236px;}
#column-left + .grid-5 .box-product.carousel > div, #column-right + .grid-5 .box-product.carousel > div {width:182px;}

/* Product list view */
.product-list .image, .product-list .image_hover {
	max-width:300px;	
}


@media only screen and (min-width: 1026px) and (max-width: 1239px) {
/* layout */
.outer_container.boxed {
	width:1040px;
}
body {
	min-width:1000px; /* if responsive layout is disabled */
}
.container, .breadcrumb, #menu, .header_right {
	max-width:980px;
}

#home-top-left .wrapper, #home-top-right .wrapper {
	width:320px;
}
#menu > ul > li > a, #menu > ul > li.withsubs > a {
	padding: 0 15px;
}
#menu > ul > li i {
    margin-left: 5px;
}
#menu > ul > li.custom_block .menu_drop_down {
	max-width:980px !important;
}
.shortcut .shortcut_heading .total {
	display:none;
}
.header3 .shortcuts_wrapper {
	margin-left:50px;
}
.box.newsletter.boxed .inner .heading {
	font-size:26px;
}
/* Product page */ 

.product-info .image, .mousetrap, .image-additional {
	max-width: 300px !important;
}
.product-info .right  {
	margin-left: 300px !important;
}
.product-info > .custom_right_column .brand {
	margin-bottom:25px;
}
/* Product carousels */
.box-product.carousel > div {
	padding:5px 10px 0px 10px;
	width: 192px; 
}
/* Product list view */
.product-list .image, .product-list .image_hover {
	max-width:230px;	
}

}