<?php if($category_name == "syarat") { ?>
  


<style>
button.accordion {
background-color: #9A0034;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
   background-color: #9A0034;
  
}

button.accordion:after {
    content: '\002B';
    color: white;

    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel1 {
    padding: 0 18px;
  background: url("http://www.ofiskita.com/catalog/view/theme/ofisindi/image/custom/pap.jpg")no-repeat scroll 0% 0% / 100% 100% transparent;
    color :white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}


img.sticky-icon {
    height: 100%;
    width: 100%;
    margin:2.5px;
    /*vertical-align: middle;*/
    padding: 2px;
}
/*.sticky label {
    vertical-align: middle;
}*/ 
.container-sticky{ 
    margin:2px 
}
</style>

<!--<h2>Accordion with symbols</h2>
<p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p>
-->
<button class="accordion">BACA SYARAT DAN KETENTUAN</button>
<div class="panel1">
  <ol start="1" type="1">
  <p>
     <li>Flash Sale berlangsung  setiap hari pada tanggal 14 Agustus 2017 s/d 27 Agustus 2017.</li>
<li>Flash Sale dimulai setiap pukul 12.00 WIB dan berakhir pada pukul 24.00 di hari yang sama.</li>
<li>Produk dalam Flash Sale yang telah dibeli tidak dapat dikembalikan, kecuali jika ada kerusakan pada saat proses pengiriman.</li>
<li>Kuantitas Produk yang dijual dalam Flash Sale terbatas. </li>
<li>Segera lakukan konfirmasi pembayaran dalam waktu 4 jam, atau order akan otomatis expired.</li>
<li>Promo produk dalam Flash Sale dapat digabungkan dengan kode voucher lain.</li>
<li>Produk yang dibeli akan dikirimkan melalui setiap merchant sesuai dengan cara pengiriman yang  telah dipilih oleh Customer.</li>
<li>Customer wajib melakukan konfirmasi pembayaran secepatnya.</li>
<li>Pihak Merchant berhak membatalkan pesanan jika stock produk kosong.</li>
<li>Pihak Ofiskita berhak membatalkan pesanan jika dirasa terjadi pelanggaran dalam proses pembelian.</li>
    </p>
  </ol>

</div> <br> <br>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>


<?php } else {

  ?>

<div class="row" style=" margin-top: 10px;">


<?php 
date_default_timezone_set("Asia/Bangkok");
$e = date("d");
$f= substr($category_name,1,2);


if ((($products[0]['special']) && ($products[0]['special_date_end'] > 0))&& $e==$f && ($cosyone_product_countdown)) { ?>

      <div class="aaa"  style="padding: 15px; margin-top: -40px;">
      
        <div class="offer_background"></div>
        <div class="offer_content">
        <div class="countdown end" style="background:url('http://www.ofiskita.com/image/bg-timer.jpg') no-repeat; background-size: 100%, 100% auto; height: 220px;"></div>
    
        <?php if ($cosyone_product_hurry) { ?>
        <!-- <span class="hurry main_font"><?php echo $product['stock_quantity']; ?></span> -->
        <?php } ?>
        </div>
        </div>
<?php } ?>



    <script type="text/javascript">
    
    $('.end').countdown({
    until: <?php echo $products[0]['special_date_end']; ?>,
    layout: '<br><br><br><h1 style="color: #396;font-weight: bold;font-size: 20px;text-align:center;">Berakhir dalam</h1><div style="font-family: sans-serif;color: #fff;display: inline-block;font-weight: 70;text-align: center;  font-size: 30px;margin-left:35%;"><div style="padding: 15px;border-radius: 3px;background: #00BF96;display: inline-block;"><span style="padding: 10px;border-radius: 3px;background: #00816A;display: inline-block;">{hn}</span></div><div style="padding: 15px;border-radius: 3px;display: inline-block;"><span style="padding: 10px;border-radius: 3px;display: inline-block;color:#00816A">:</span></div>&nbsp;<div style="padding: 15px;border-radius: 3px;background: #00BF96;display: inline-block;"><span style="padding: 10px;border-radius: 3px;background: #00816A;display: inline-block;">{mn}</span></div><div style="padding: 15px;border-radius: 3px;display: inline-block;"><span style="padding: 10px;border-radius: 3px;display: inline-block;color:#00816A;">:</span></div><div style="padding: 15px;  border-radius: 3px;background: #00BF96;display: inline-block;"><span style="padding: 10px;border-radius: 3px;background: #00816A;display: inline-block;">{sn}</span></div></div>',
      onExpiry: liftOn});

    function liftOff(){
      $( ".end" ).hide();
        $('#tenaa').modal('show');
         $( ".close" ).click(function(){
          window.location.reload(true);
          xxxx();
        });  

    console.log("aaaa");


    }
  
    </script>



  <?php 
date_default_timezone_set("Asia/Bangkok");
$e = date("d"); 
$f= substr($category_name,1,2);


  if ( (($products[0]['special_date_start'] > 0 ) &&  ($products[0]['special_date_end'] == false )) && ($e == $f) )  { ?> 

      <div class="bbb" style="padding: 15px; margin-top: -40px;">
     
        <div class="offer_background"></div>
        <div class="offer_content">
        <div class="countdown start" style="background:url('http://www.ofiskita.com/image/bg-timer.jpg') no-repeat; background-size: 100%, 100% auto; height: 220px;"></div>
    
        <?php if ($cosyone_product_hurry) { ?>
        <!-- <span class="hurry main_font"><?php echo $product['stock_quantity']; ?></span> -->
        <?php } ?>
        </div>
        </div>

</div>

<?php } ?>

    <script type="text/javascript">
    
    $('.start').countdown({
    until: <?php echo $products[0]['special_date_start']; ?>,
    layout: '<br><br><br><h1 style="color: #396;font-weight: bold;font-size: 20px;text-align:center;">Mulai dalam</h1><div style="font-family: sans-serif;color: #fff;display: inline-block;font-weight: 70;text-align: center;  font-size: 30px;margin-left:35%;"><div style="padding: 15px;border-radius: 3px;background: #00BF96;display: inline-block;"><span style="padding: 10px;border-radius: 3px;background: #00816A;display: inline-block;">{hn}</span></div><div style="padding: 15px;border-radius: 3px;display: inline-block;"><span style="padding: 10px;border-radius: 3px;display: inline-block;color:#00816A">:</span></div>&nbsp;<div style="padding: 15px;border-radius: 3px;background: #00BF96;display: inline-block;"><span style="padding: 10px;border-radius: 3px;background: #00816A;display: inline-block;">{mn}</span></div><div style="padding: 15px;border-radius: 3px;display: inline-block;"><span style="padding: 10px;border-radius: 3px;display: inline-block;color:#00816A;">:</span></div><div style="padding: 15px;  border-radius: 3px;background: #00BF96;display: inline-block;"><span style="padding: 10px;border-radius: 3px;background: #00816A;display: inline-block;">{sn}</span></div></div>',
      onExpiry: liftOn});

    function liftOn(){
        $('#tena').modal('show');
         $( ".close" ).click(function(){
          window.location.reload(true);
        
        });  



    }



    </script>

<?php 
$b = date("d"); 
$d= substr($category_name,1,2);

if($b == $d ){ ?>
  <div class="container-sticky"vvb    >  
    <!-- <div style="text-transform: uppercase;font-size:18px;margin-bottom:5px;border-bottom:5px solid #FED27B;"> -->
      <!-- <img src="http://www.ofiskita.com/catalog/view/theme/ofisindi_ied/image/custom/droplet-gold.png" class="sticky-icon"> 
        <span style="vertical-align:middle">Hari ini</span> -->
        <img src="http://www.ofiskita.com/image/hariini.jpg" class="sticky-icon"> 
    <!-- </div> -->
  </div>
  <br>
<?php }elseif ($b+1 == $d){ ?>
  <div class="container-sticky">  
      <img src="http://www.ofiskita.com/image/promo-besok.jpg" class="sticky-icon"> 
        <!-- <span style="vertical-align:middle">Besok</span> -->
  </div>
  <br>
<?php } ?>    


<?php foreach ($products as $product) { 

date_default_timezone_set("Asia/Bangkok");
$b = date("d"); 
$d= substr($category_name,1,2);

if((($product['special_date_start']) || ($product['special_date_end']))  && ($b==$d || $b+1==$d )) {  
if($b == $d ){ ?>
  <div class="col-md-3" style="height: 400px; position: auto;">

<div class="product-thumb transition <?php echo $category_name; ?>  ">


      <div class="image" style="">
         

 <?php if ($product['special'] && $cosyone_percentage_sale_badge == 'enabled') { ?>
      <div class="sale_badge">-<?php echo $product['sales_percantage']; ?>%</div>
      <?php } ?>


		<a href="<?php echo $product['href']; ?>">
            <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" />
         </a>
      </div>
        <div class="caption" style="height :120px;">
        <!-- <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4> -->
        <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
        
        <?php if ($product['rating']) { ?>
        <div class="rating">
          <?php for ($i = 1; $i <= 5; $i++) { ?>
          <?php if ($product['rating'] < $i) { ?>
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
          <?php } else { ?>
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span>
          <?php } ?>
          <?php } ?>
        </div>
        <?php } ?>
        <?php if ($product['price']) { ?>
        <p class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
          <?php } ?>
          <?php if ($product['tax']) { ?>
          <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
          <?php } ?>
        </p>
        <?php } ?>
      </div>
      
      <div class="button-group">
        <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-star"></i></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
    
    
      </div>
    
    
    <!-- Modal -->
    </div>
    </div>
<?php }  else if($b+1 == $d ){ ?>
  <div class="col-md-3" style="height: 400px; position: auto;">
<div class="product-thumb transition <?php echo $category_name; ?>  ">


      <div class="image" style="">
         <a href="<?php echo $product['href']; ?>">
            <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" />
         </a>
      </div>
        <div class="caption" style="height :120px;">
        <!-- <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4> -->
        <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
        
        <?php if ($product['rating']) { ?>
        <div class="rating">
          <?php for ($i = 1; $i <= 5; $i++) { ?>
          <?php if ($product['rating'] < $i) { ?>
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
          <?php } else { ?>
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span>
          <?php } ?>
          <?php } ?>
        </div>
        <?php } ?>
        <?php if ($product['price']) { ?>
        <p class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
          <?php } ?>
          <?php if ($product['tax']) { ?>
          <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
          <?php } ?>
        </p>
        <?php } ?>
      </div>
      
      <div class="button-group">
        <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-star"></i></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
    
    
      </div>
    
    
    <!-- Modal -->
    </div>
    </div>
<?php }
?>


    <?php } ?>
  
  
  <?php } ?>




</div>

            <div class="modal fade" id="tena" tabindex="-1" role="dialog" aria-labelledby="modal-cart-label"data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-cart-label"><?php echo $text_md_remove; ?></h4>
                        </div>
                        <div class="modal-body" style="color: black;">
                          
                          Flash Sale Dimulaiii!!!!! 
                     
                        </div>
                        <div class="modal-footer">
<!--                            <button type="button" id="ok" class="btn btn-default" data-dismiss="modal"><?php echo "Kembali ke Cart"; ?></button>-->

                        </div>
                    </div>
                </div>
            </div>

 <div class="modal fade" id="tenaa" tabindex="-1" role="dialog" aria-labelledby="modal-cart-label"data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-cart-label"><?php echo $text_md_remove; ?></h4>
                        </div>
                        <div class="modal-body" style="color: black;">

                          Oooopss , Flash Sale Berakhir!!!!!

                        </div>
                        <div class="modal-footer">
<!--                            <button type="button" id="ok" class="btn btn-default" data-dismiss="modal"><?php echo "Kembali ke Cart"; ?></button>-->

                        </div>
                    </div>
                </div>
            </div>

<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="modal-cart-label"data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="min-width: 80%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-cart-label"><?php echo $text_modal_cart ?></h4>
      </div>
      <div class="modal-body">
        <div id="modal-cart-content">
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary button btn-block" id="md-button-submit" style="display: block;width: 100%;"><i class="fa fa-shopping-cart"></i> <?php echo $button_modal_cart ?></button>
      </div>
    </div>
  </div>
 </div>
<?php } ?>
