<?php if(!empty($confirmed_orders)){ ?>
<div id="order-release-list">
			<div style="padding: 5px">
				<input type="checkbox" name="check_confirm_all" onClick="toggle2(this)" />
				<div style="display: inline; padding: 22px">
					<button type="button" class="btn btn-primary button" id="response-release" >
					<i class="fa fa-check-circle" id="accept_all"></i> <?php echo $button_confirm_all; ?>
					</button>
				</div>
				<br class="wide">
			</div>
				
			<table class="table table-bordered table-hover list">
			<thead>
				<tr>
					<td width="5%"></td>
					<td><?php echo $column_buyer; ?></td>
					<td><?php echo $column_shipping_info; ?></td>
					<td width="25%"><?php echo $column_delivery; ?></td>
					<td width="15%"><?php echo $column_action; ?></td>
				</tr>
			</thead>
			<tbody>
				<?php foreach($confirmed_orders as $confirmed_order){ ?>
				
				<tr>
					<td width="5%" style="vertical-align: top; margin:auto;">
						<input type="checkbox" name="check_confirm[]" value="<?php echo $confirmed_order['order_id']."-".$confirmed_order['order_detail_id']."-".$confirmed_order['delivery_type_id'];?>"/>
					</td>
					<td style="text-align: left; vertical-align: top; margin:auto;">
						<span class="bold color-response"><?php echo $confirmed_order['buyer']; ?></span><br/>
						<span class="color-response"><?php echo $confirmed_order['invoice_no']; ?></span><br class="wide"/>
						<br class="wide"/>
						<?php echo $text_deadline;?> <span class="highlight bold"><?php echo $confirmed_order['sla_shipping']; ?><?php echo $text_deadline_days; ?></span>
					</td>
					<td style="text-align: left; vertical-align: top; margin:auto;">
					<?php if($confirmed_order['delivery_type_id'] == 1) { ?>
						<?php echo $confirmed_order['receiver']; ?>
					<?php } else if($confirmed_order['delivery_type_id'] == 2) { ?>
						<?php echo $confirmed_order['receiver_pickup']; ?>
					<?php } ?>
						<hr class="dashed" style="margin: 10px 0 10px 0">
						<a class="view_detail" data-toggle="modal" data-target="#myModal" data-orderid="<?php echo $confirmed_order['order_id']; ?>" data-detailid="<?php echo $confirmed_order['order_detail_id']; ?>"><i class="fa fa-eye"></i>  <?php echo $text_detail; ?></a>
					</td>
					<?php if($confirmed_order['delivery_type_id'] == 1) { ?>
					<td style="text-align: left; vertical-align: top; margin:auto;">
						<span class="bold"><?php echo $confirmed_order['shipping_name']; ?> (<?php echo $confirmed_order['shipping_service_name']; ?>)</span>
					<br class="wide">
					<form method="post" action="<?php echo $action_insert_receipt; ?>" id="form_insert_receipt_number">
						<input style="margin-left:-1px" type="text" name="input_receipt_number<?php echo $confirmed_order['order_detail_id'];?>" id="input_receipt_number<?php echo $confirmed_order['order_detail_id'];?>" placeholder="<?php echo $text_delivery_code; ?>"><div class="error"></div>
						<input type="hidden" name="input_order_detail_id_release" id="input_order_detail_id_release" value="<?php echo $confirmed_order['order_detail_id']; ?>">
						<input type="hidden" name="input_order_id_release" value="<?php echo $confirmed_order['order_id']; ?>">
					<br class="wide">
						<?php echo $column_shipping_price; ?>: <span class="bold"><?php echo $confirmed_order['shipping_price']; ?></span> 
					</td>
				<?php } else if($confirmed_order['delivery_type_id'] == 2) { ?>
					<td style="text-align: left; vertical-align: top; margin:auto;">
					<span class="bold"><?php echo $confirmed_order['delivery_type']; ?> (<?php echo $confirmed_order['pp_branch_name']; ?>)</span>
					</td>
				<?php } ?>
					<td style="text-align: left; vertical-align: top; margin:auto;">
					<?php if($confirmed_order['delivery_type_id'] == 1) { ?>
						<a class="link_modal_confirm" data-toggle="modal" data-target="#modal_confirm" data-detailid="<?php echo $confirmed_order['order_detail_id']; ?>" data-orderid="<?php echo $confirmed_order['order_id']; ?>" style="cursor: pointer;"><i class="fa fa-check"></i> <?php echo $button_confirm; ?></a><br class="wide"/>
					</form>
					<?php } else if($confirmed_order['delivery_type_id'] == 2) { ?>
					<form method="post" action="<?php echo $action_accept_pickup; ?>" id="form_accept_pickup">
						<input type="hidden" name="input_order_detail_id_release" id="input_order_detail_id_release" value="<?php echo $confirmed_order['order_detail_id']; ?>">
						<input type="hidden" name="input_order_id_release" value="<?php echo $confirmed_order['order_id']; ?>">
						<a href="javascript:;" onclick="document.getElementById('form_accept_pickup').submit();" style="cursor: pointer;"><i class="fa fa-check"></i> <?php echo $button_confirm; ?></a><br class="wide"/>
					</form>
					<?php } ?>
						<a data-detailid="<?php echo $confirmed_order['order_detail_id']; ?>" target="_blank" class="link_print_release" style="cursor: pointer;"><i class="fa fa-print" ></i> <?php echo $button_print; ?></a><br class="wide"/>
					</td>
				</tr>
				<?php } ?>
			</tbody>
			</table>
			<script type="text/javascript">
				$('#response-release').on('click', function(){
					$.post("<?php echo $action_many; ?>", $('#order-release-list input[type=\'checkbox\']:checked, #order-release-list input[type=\'text\']'), function(data)
					{
						if(data['error']){
							$.each(data['error'], function(index, item) {
								$('#input_receipt_number'+item.id).siblings('.error').html("<br><strong style='color:#FF0000'>"+item.message+"</strong>");
							});
						}else if(data['url']){
							location=data['url'];
							location.reload();
						}
					});
				});
				
				$(".link_print_release").on('click', function(){
					$('.link_print_release').attr('href', '<?php echo $print; ?>&order_detail_id='+$(this).data('detailid'));
				});
			</script>
			<?php } else { ?>
			<table class="table table-bordered table-hover list">
				<thead>
					<tr>
						<td width="5%"></td>
						<td><?php echo $column_buyer; ?></td>
						<td><?php echo $column_shipping_info; ?></td>
						<td width="25%"><?php echo $column_delivery; ?></td>
						<td width="15%"><?php echo $column_action; ?></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="5"><?php echo $text_no_data; ?></td>
					</tr>
				</tbody>
				</table>
			<?php } ?>
		<div class="order-release pagination" style="width:100%;"><?php echo $pagination; ?></div>
</div>