<?php 
$x=0;
foreach($product_comments as $product_comment2){
	if ($product_comment2['topic'] == $product_comment2['comment'] && $x == 0){
		$x = 1;
		continue;
	}else {
?> 
	<div class="content">
		<div class="comment-header">
		<span class="comment-name">
			<h4>
			<?php 
				if ($product_comment2['created_by'] == $product_comment2['seller_id']){
					echo $product_comment2['nickname'];
				}else{
					echo $product_comment2['firstname'];
				}
			?>
			<?php 
				if ($product_comment2['created_by'] == $product_comment2['seller_id']){ ?>
				<span class="badge">	
					<?php echo $column_merchant; ?>
				</span>
				<?php }else{ ?>
					<span class="badge green">
				<?php echo $column_customer; ?>
					</span>
				<?php } ?>
				</span>
				<small class="muted"><i><?php echo $product_comment2['created_date']; ?></i></small>
			</h4>
		</span>
		</div>
	<div class="comment-content"><?php echo nl2br($product_comment2['comment']); ?></div>
	</div>
		
<?php } ?>
<?php } ?>