<strong><?php echo $text_md_cart_activation_message ?></strong> 
<script type="text/javascript">
    $("#md-button-submit").empty().html('<?php echo $button_activation ?>');
    $("#md-button-submit").attr('data-dismiss', 'modal');
</script>