<?php echo $header; ?>
<style>
.address-alias{
	font-weight:bold;
	text-decoration: underline;
}
.address-desc{
	font-size:12px;
}
</style>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <?php if ($success) { ?>
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>
  <?php } ?>
  <?php if ($error_warning) { ?>
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <h1><?php echo $text_address_book; ?></h1>
      <?php if ($addresses) { ?>
      <div class="cart-info margin-b">
      <table>
        <?php foreach ($addresses as $result) { ?>
        <tr>
          <td class="text-left"><a href="<?php echo $result['update']; ?>"><div class="address-alias"><?php echo $result['alias']; ?></div></a><div class="address-desc"><?php echo $result['address']; ?></div></td>
          <td class="text-right">
          <a href="<?php echo $result['update']; ?>" class="sq_icon" data-tooltip="<?php echo $button_edit; ?>"><i class="fa fa-pencil"></i></a><a href="<?php echo $result['delete']; ?>" class="sq_icon" data-tooltip="<?php echo $button_delete; ?>"><i class="fa fa-times"></i></a>
          </td>
        </tr>
        <?php } ?>
      </table>
      </div>
      <?php } else { ?>
      <p><?php echo $text_empty; ?></p>
      <?php } ?>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="<?php echo $back; ?>" class="btn btn-default"><?php echo $button_back; ?></a></div>
        <div class="pull-right"><a href="<?php echo $add; ?>" class="btn btn-primary"><?php echo $button_new_address; ?></a></div>
      </div>
      <?php echo $content_bottom; ?></div>
    <?php //echo $column_right; ?></div>
</div>
<?php echo $footer; ?>