body { background: #fff url(../images/background.jpg) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;text-align: center; padding: 150px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #fff; }
article { display: block; text-align: left; width: 650px; margin: 0 auto; }
a { color: #7B0046; text-decoration: none; }
a:hover { color: #fff; text-decoration: none; }
img{ width:150px;position:absolute;top:20px;left:20px;}



