<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <h1><?php echo $heading_title; ?></h1>
      <?php if($information_id == '16'){ ?>
      		<?php if ($this->customer->isLogged()) { ?>
      			<a href="<?php  echo $wokingspace ?>"><?php echo $description; ?></a>
      		<?php } else { ?>
          		<a href="<?php echo $link_login ?>"><?php echo $description; ?></a>
		<?php } ?>
	<?php } if($information_id == '11') { ?>
      		<?php if ($this->customer->isLogged()) { ?>
        		<a href="<?php  echo $ceria; ?>"><?php echo $description ?></a>
        	<?php } else { ?>
        		<a href="<?php echo $link_login_ceria ?>"><?php echo $description; ?></a>
        	<?php } ?>	
      <?php } if($information_id == '14'){ ?>
		<?php echo $description; 
        } elseif($information_id == '3'){ 
		 echo $description;  
        } elseif($information_id == '4'){ 
		 echo $description; 
        } elseif($information_id == '5'){
		echo $description;  
	 } 
	   elseif($information_id == '10'){
		echo $description;  
	 } elseif($information_id == '8'){
		echo $description;  
	 }  elseif($information_id == '7'){
		echo $description;  
	 }  elseif($information_id == '6'){
		echo $description;  
	 } elseif($information_id == '9'){
		echo $description;  
	 } 
	 
	 ?>

    

	
     <?php echo $content_bottom; ?></div>
    <?php //echo $column_right; ?></div>
</div>
<?php echo $footer; ?> 
