<?php if (!empty($accounts)) { ?>
	<table border="0">
	<tr>
		<td>
			<?php echo ""; ?>
		</td>
		<td width="70%">
			<?php echo $column_bank_name; ?>
		</td>
		<td>
			<?php echo $column_bank_code; ?>
		</td>
	</tr>
	<?php foreach ($accounts as $account) { ?>
	<tr>
		<td>
		<div class="radio">
			<input type="radio" name="account_id" value="<?php echo $account['account_id']; ?>-<?php echo $account['name']; ?>" class="rbt_account"/>
		</div>
		</td>
		<td>
			<?php echo $account['name']; ?>
		</td>
		<td>
			<?php echo $account['code']; ?>
		</td>
	</tr>
	<?php } ?>
		
	</table>
		
	<br/>
<?php } else { ?>
	<h3><?php echo $text_empty; ?></h3>

<?php } ?>
	<div class="acc pagination" style="width:90%;"><?php echo $pagination; ?></div>
	<br/>