<script type="text/javascript" src="http://secure-dev.sgo.co.id/public/signature/js"></script>


<!--<script type="text/javascript" src="https://secure.sgo.co.id/public/signature/js"></script>----->

<h2><?php echo $text_instruction; ?></h2>
<div class="content">
 	<input type="radio" name="product" id="product" value="008:MANDIRIIB">  <img src="<?php echo $dir_image ?>mandiri.jpg">
	<input type="radio" name="product" id="product" value="008:MANDIRISMS"> <img src="<?php echo $dir_image ?>mandirisms.jpg">
	<input type="radio" name="product" id="product" value="008:MANDIRIECASH"> <img src="<?php echo $dir_image ?>mandiriecash.png">
	<input type="radio" name="product" id="product" value="016:BIIATM"> <img src="<?php echo $dir_image ?>atm-gabungan.gif">
	<input type="radio" name="product" id="product" value="503:NOBUPAY"> <img src="<?php echo $dir_image ?>nobuLogo.png">	
	<input type="radio" name="product" id="product" value="008:MANDIRIECASH"> <img src="<?php echo $dir_image ?>mandiriecash.png">
	<input type="radio" name="product" id="product" value="016:BIIATM"> <img src="<?php echo $dir_image ?>atm-gabungan.gif">
	<input type="radio" name="product" id="product" value="503:NOBUPAY"> <img src="<?php echo $dir_image ?>nobuLogo.png">	
	
	<input type="hidden" value="<?php echo $sgopaymentid ?>" name="sgopaymentid" id="sgopaymentid">
	<input type="hidden" value="<?php echo $order_id ?>" name="cartid" id="cartid">
	<input type="hidden" value="<?php echo $total ?>" name="paymentamount" id="paymentamount">
	<input type="hidden" value="<?php echo $back_url ?>" name="back_url" id="back_url">
</div>
<iframe id="sgoplus-iframe" style="display:none" src="" scrolling="no" frameborder="0"></iframe>
<script type="text/javascript" src="<?php echo $dir_js; ?>sgopayment.js"></script>
<div class="buttons">
  <div class="right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm"  name="button-confirm" onclick="submitdata()" class="button" />
  </div>
</div>

