<div id="search">
<input type="text" name="search" class="search_input" placeholder="<?php echo $text_search; ?>" value="<?php echo $search; ?>" />
<!-- INDIGITAL_CUSTOM -->
<select name="category_id" id="search input" class="search_input" >
	<option value="0">All Category</option>
	 <?php foreach ($categories as $category_1) { ?>
	    <option value="<?php echo $category_1['category_id']; ?>"><?php echo $category_1['name']; ?></option>
	    <?php foreach ($category_1['children'] as $category_2) { ?>
	    <option value="<?php echo $category_2['category_id']; ?>" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
	    <?php foreach ($category_2['children'] as $category_3) { ?>
	    <?php if ($category_3['category_id'] == $category_id) { ?>
	    <option value="<?php echo $category_3['category_id']; ?>" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
	    <?php } else { ?>
	    <option value="<?php echo $category_3['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
	    <?php } ?>
	    <?php } ?>
	    <?php } ?>
	    <?php } ?>
</select>
<i class="fa fa-search button-search"></i>
</div>